html, body {
  /* height: 100%; */
  margin: 0;
  /* position: fixed; */
  background-color: #333;
}

li {
  list-style: none;
  padding: 0;
  margin: 1px;
}

p {
  margin: 10px;
}

img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.big-border {
  border: 3px solid #ddd;
  border-radius: 10px;
}

#container {
  width: 100%;
  float: left;
  margin-right: -430px;
}

#backpack {
  margin-right: 430px;
}

#the-map {
}

#inventory {
  background-color: green;
  height: 100px;
  bottom: 0;
}

#communicae {
  width: 430px;
  float: right;
}

#chat-log-box {
  /* overflow-y: scroll; */
}

.chat-bubble {
  width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  margin: 1px 3px;
}

.player-says {
  background-color: #ADD8E6;
  float: left;
  border-bottom-left-radius: 0;
}

.compy-says {
  background-color: #ddd;
  float: right;
  border-bottom-right-radius: 0;
}

#user-form {
  width: 100%;
  height: 50px;
  border-top-color: 0;
}

#user-input {
  width: 40%;
}
